body{
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

h1{
    text-align: center;
}

.one, .three{
    text-align: center;
    margin-top: 50px;
}

.two{
    text-align: center;
    margin-top: 50px;
}
